.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.task-date {
  margin-left: auto; /* Pushes the date to the right */
  color: #888;
  font-size: 16px;
}

.task-item:hover {
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.form-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.spaced {
  margin-right: 10px; 
}

.completed {
  text-decoration: line-through;
  color: #888;
}

button, select {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
}

button:hover, select:hover {
  background-color: #f0f0f0;
}

#taskInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
